# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2024 TechNexion Ltd.
#

if TARGET_AXON_AM62XX_A53 || TARGET_AXON_AM62XX_R5

config SYS_BOARD
       default "axon-am62xx"

config SYS_VENDOR
       default "technexion"

config SYS_CONFIG_NAME
       default "axon-am62xx"

source "board/ti/common/Kconfig"
source "board/technexion/common/Kconfig"

endif

if TARGET_AXON_AM62XX_R5

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

endif
